:host {
  flex: 2;
}

.form {
  width: 100%;
  max-width: 400px;
  height: 60px;
}

.form-field {
  width: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #ffffffa8;
  background-color: #00000033;
  height: 56px;
}
::ng-deep .mat-form-field-label {
  color: #fffffff1;
}
