:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
  row-gap: 20px;
  background-color: rgba(5, 36, 72, 0.146);
  padding: 3%;
}

.toggle-wrapper {
  width: max-content;
  height: 30px;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
